template(name='playingScene')


    .app-nav

        button.btn-option.btn.evt-home Home

    .game-container

        .category #{category}

        .description #{game}

    .game-navigation

        button.btn-random.btn.evt-random Next challenge