.app-nav
  height 50px
  background-color #444444
  color #ffffff

  .btn-option
    float left
    margin 10px

.game-container
  height calc(100% - 120px)
  .category
    padding 20px
    font-size 20px
    line-height 20px
    color #0088cc
    background-color #CCCCCC
  .description
    padding 20px
    font-size 20px
    color #444444

.game-navigation
  height 70px
  background-color #CCCCCC
  button.btn-random
    width calc(100% - 40px)