template(name='main')
   .header
       //.title-text Angry Soda Flappy Drink Games vs Zombies Z
       .title-text Drink Games
   .body

        button.btn.evt-start Let's buzz!
        button.btn.evt-start Settings
